<div>
  <mat-form-field>
    <input matInput [(ngModel)]="model.firstname" firstname="firstname" placeholder="first name">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="model.lastname" placeholder="last name">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="model.username" placeholder="insert a username">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="model.passkey" placeholder="insert a passkey">
  </mat-form-field>
</div>
